body{

	width: 80%;

	margin: 20px auto;

	background-image: url(4.jpeg);

	background-size: cover;

}

.topnav {

	overflow: hidden;

	background: rgba(255, 255, 153, 0.5);


}

.topnav a{

	display: inline-block;

	text-align: center;

	padding: 14px 16px;

	text-decoration: none;

	font-size: 17px;

}

.topnav .a{

	font-family: "Muli", sans-serif;

  	font-size: 15px;

  	font-weight: 600;

  	color: #03265c;

  	float: left;

}

.topnav a.active,

.as{

	font-family: "Muli", sans-serif;

  	font-size: 17px;

  	font-weight: 600;

  	color: #03265c;

  	float: right;

}

.topnav a.active:hover {

	float: right;

	border-bottom: 2px solid; 

}

.topnav a.as:hover {

	background-color:rgb(0, 0, 0);

	border-radius: 10px;

}

.content{


	text-align: center;

	font-family: 'Muli', sans-serif;

	width: 80%;

	margin: 175px;

	background-color: rgba(255, 255, 255, 0.5);

	border-radius: 20px;

}

.content a {

    width: 300px;

    height: 100px;

    font-size: 50px;

    margin: 125px 500px 800px 600px;

    line-height: 100px;

    text-decoration: none;

    position: absolute;

    top: 0;

    bottom: 0;

    left: 0;

    right: 0;

    display: block;

    text-align: center;

    font-family: 'Muli', sans-serif;

    text-transform: uppercase;

    color: #666;

    transition: all 500ms;

    -webkit-transition: all 500ms;

    -moz-transition: all 500ms;

    z-index: 1;

}

.content a:after,

	a:before {

    display: block;

    background: rgba(255, 255, 153, 0.5);

    width: 0;

    height: 100px;

    content: "";

    position: absolute;

    -webkit-transition: all 500ms;

    -moz-transition: all 500ms;

    -ms-transition: all 500ms;

    -o-transition: all 500ms;

    transition: all 500ms;

    z-index: -1;

}

.content a:after {

    bottom: 0px;

    left: 0px;

}

.content a:before {

    top: 0px;

    right: 0px;

}

.content a:hover:after,

	a:hover:before{

  	width: 100%;

}

.footer{

	margin-top: 200px;

	padding: 0px;

	float: left;

}

.footer h5{

	font-size: 12pt;

	font-family: 'Muli', sans-serif;

}

.footer ul li{

	display: inline-block;

}

.footer img{

	width: 30px;

	height: 30px;

}

@media only screen and(max-width: 600px){

	.topnav{

		width: 50%;

	}

	.content{

		width: 50%;

	}

	.contentkedua{

		width: 50%;

	}

	.footer{

		width: 50%;

	}

}

@media only screen and(max-width: 300px){

	.topnav{

		width: 25%;

	}

	.content{

		width: 25%;

	}

	.contentkedua{

		width: 25%;

	}

	.footer{

		width: 25%;

	}
}


